.login-container {
    text-align: center;
    margin-top: 180px;
}

.login-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.login-input {
    width: 400px;
    height: 50px;
    padding: 20px;
    margin-bottom:20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.login-input:focus {
    outline: none;
    border-color: #007bff;
}

.login-button {
    padding: 10px 20px;
    width: 400px;
    height: 50px;
    margin-top: 300px;
    font-size: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-link {
    display: flex;
    align-items: center;
    gap: 10px; /* 버튼과 텍스트 간 간격 */
    margin-top: 10px;
    justify-content: center;
}

.signup-button{
    border: none;
    background-color: transparent;
    border-bottom: #3884FF 1px solid;
    color: #3884FF;
}

.login-logo{
    font-size:60px;
    margin-bottom: 10px;
}

